
<div class="container text-center">
    <h1>Latest News Articles</h1>

        <ul class="article-list">
            <% @news_articles.each do |news_article| %>
                <li>
                    <div class="card" style="width: 18rem;">
                        <%if news_article.img_url == "None"%>
                            <%= image_tag 'No-image-found.jpg' %>
                        <%else%>
                            <img class="card-img-top" src="<%=news_article.img_url%>" alt="<%news_article.title%>">
                        <%end%>
                    <div class="card-body">
                    <h5 class="card-title"><%= link_to news_article.title, news_article %></h5>
                    </div>
                </li>
            <% end %>
            
        </ul>
</div>


