<div class="container text-center">

<h1>Latest News Articles</h1>

<ul>
    <% @news_articles.each do |news_article| %>
        <li><%= link_to news_article.title, news_article %></li>
        <div class="index-tile">
            <img class="index-img" src="<%=news_article.img_url%>" alt="" style="width:500px;height:250px;object-fit: cover;">
        </div>
    <% end %>
</ul>
</div>