<h1>News Article Show Page</h1>

<p>Title: <%= @news_article.title %></p>
<p>Date: <%= @news_article.published %></p>
<p>Topic: <%= @news_article.category %></p>

<%= link_to 'Index page', news_articles_path %>