<div class="container text-center">
<h1>Add News Article</h1>

<%= form_for @user_news_article do |f| %>
    <%= f.label :news_article_id %>
    <%= f.collection_select :news_article_id, NewsArticle.all, :id, :title%>
    <%= f.submit %>
<% end %>
</div>