<h1>My News Article Show Page</h1>

<p>Title: <%= @user_news_article.favorites %></p>
<p>Date Published: <%= @user_news_article.date_added %></p>
<p>Description: <%= @user_news_article.description %></p>
<p>Category: <%= @user_news_article.news_article.category %></p>